<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinScroll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <userSettings>
    <WinScroll.Properties.Settings>
      <setting name="CaptureX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="CaptureHeight" serializeAs="String">
        <value>600</value>
      </setting>
    </WinScroll.Properties.Settings>
  </userSettings>
</configuration>