body
{
	margin: auto;
	text-align: center;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	color: white;
	background: #29386C;
	overflow-y: hidden;
}

a
{
	color: white;
}

.button
{
	text-decoration: none;
	display: inline-block;
	width: 240px;
	height: 48px;
	border-radius: 12px;
	border: 2px;
	border-color: white;
	border-style: solid;
	margin-left: 24px;
	margin-right: 24px;
	transition: all 0.3s;
}

.button:hover
{
	color: #3E579F;
	background-color: white;
}

.head
{
	font-size: 42pt;
	font-weight: lighter;
}

.sub
{
	width: 75%;
	margin: auto;
	font-size: 16pt;
	font-weight: lighter;
}

.info
{
	font-size: 12pt;
}

.center
{
	position: relative;
	top: 12px;
}

.image
{
	position: absolute;
	top: 320px;
	margin-left: -229px;
}

.space60
{
	height: 60px;
}

.space120
{
	height: 120px;
}

.top
{
	background: #3E579F;
}

.bottom
{
	background: #29386C;
}

.footer
{
	color: white;
	width: 480px;
	height: 120px;
	position: relative;
	left: 50%;
	margin-left: -240px;
}

.wrapper
{
	margin: 0 auto -120px;
	min-height: 100%;
}

.push
{
	height: 180px;
}

@media all and (max-width: 600px)
{
	.button
	{
		width: 190px;
		margin-left: 16px;
		margin-right: 16px;
	}
}
